<div id="main">
    {{!-- CAROUSEL --}}
    <div class="container-carousel h-20">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="carousel-element h-100 row">
                        <div class="carousel-image col-6">
                            <img src="https://image.tmdb.org/t/p/w500{{{data.firstPopular.poster_path}}}"
                                class="img1 d-block w-100 img-responsive " alt="...">
                        </div>
                        <div class="carousel-info col-5">
                            <h4>{{{data.firstPopular.title}}}</h4>
                            <p>{{{data.firstPopular.overview}}}</p>
                            <!-- Button trigger modal -->
                            <a class="btn btn-primary" href="http://localhost:3000/details/{{{data.firstPopular.id}}}" role="button">Voir la fiche du film</a>
                        </div>
                    </div>
                </div>
                {{#each data.popular}}
                <div class="carousel-item">
                    <div class="carousel-element h-100 row">
                        <div class="carousel-image col-6">
                            <img src="https://image.tmdb.org/t/p/w500{{{poster_path}}}"
                                class="img1 d-block w-100 img-responsive " alt="...">
                        </div>
                        <div class="carousel-info col-5">
                            <h4>{{{title}}}</h4>
                            <p>{{{overview}}}</p>
                            <a class="btn btn-primary" href="http://localhost:3000/details/{{{id}}}" role="button">Voir la fiche du film</a>
                        </div>
                    </div>
                </div>
                {{/each}}
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>

   {{!-- --------------Upcoming--------------- --}}
   <h3 class="categoryTitle right">Dernières sorties</h3>

   <div class="row upComing justify-content-end scrollspyUpComing" data-spy="scroll" data-offset="0">
      <div class="col-11">
         {{#each data.upComing.results}}
         <div class="col-12 itemComing row">
            <a href="http://localhost:3000/details/{{{id}}}" class="col-6 row"><img class="col-6" src="https://image.tmdb.org/t/p/w500{{{poster_path}}}" alt=""></a>
            <div class="upComingInfo col-6">
               <p class="upComingTitle col-6"> {{{title}}}</p>
               <a class="btn btn-primary btn-sm col-8 orange" href="http://localhost:3000/details/{{{id}}}" role="button">Voir la fiche du film</a>
            </div>
         </div>
         {{/each}}
      </div>
   </div>
   
</div>
</div>
</div>

{{!------------------TOP-RATED------------------}}
 <div class="top-rated-block">
<h3 class="categoryTitle">top-rated</h3>

<div class="owl-carousel"></div>
<div class="top-rated d-flex scrollspy-top-rated">
   <div class="item card">
      <div class="card-body">
         <p class="card-text">This image is in the middle</p>
      </div>
      <img src="/assets/img/affamés.jpg" alt="Card image">
      <div class="card-body">
         <p class="card-text">of a card.</p>
      </div>
   </div>
   <div class="items card">
      <div class="card-body">
         <p class="card-text">This image is in the middle</p>
      </div>
      <img src="/images/pathToYourImage.png" alt="Card image">
      <div class="card-body">
         <p class="card-text">of a card.</p>
      </div>
   </div>
   <div class="items card">
      <div class="card-body">
         <p class="card-text">This image is in the middle</p>
      </div>
      <img src="/images/pathToYourImage.png" alt="Card image">
      <div class="card-body">
         <p class="card-text">of a card.</p>
      </div>
   </div>
   <div class="items card">
      <div class="card-body">
         <p class="card-text">This image is in the middle</p>
      </div>
      <img src="/images/pathToYourImage.png" alt="Card image">
      <div class="card-body">
         <p class="card-text">of a card.</p>
      </div>
   </div>
   

    

    