    <div class="row col-8 justify-content-center m-auto background-element">
 <h3 class="categoryTitle mp-8 col-10">Dernières sorties</h3>
     
         {{#each data.results}}
         <div class="m-2 row justify-content-center">
            <a href="http://localhost:3000/details/{{{id}}}" class="col-2"><img class="col-12" src="https://image.tmdb.org/t/p/w500{{{poster_path}}}" alt=""></a>
            <div class="upComingInfo col-8">
               <a href="http://localhost:3000/details/{{{id}}}"><p class="upComingTitle col-6"> {{{title}}}</p></a>
               <p class="date">{{{release_date}}}</p>
               <div class="vote row">
               <p class="rate col-1">{{{vote_average}}}</p>
               <ion-icon class='star col-1 p-0 warning pt-1' name="star"></ion-icon>
               </div>
               <p class="desc">{{{overview}}}</p>
            </div>
         </div>
         {{/each}}
  
   </div>
  